body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    padding-top: 20px;
}

h2 {
    text-align: center;
}

#form-div {
    background-color: #e8f7ea;
}